[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
openai = "*"
pydantic-settings = "*"
pymongo = {extras = ["srv"], version = "*"}
redis = {extras = ["hiredis"], version = "*"}
orjson = "*"
uwsgi = "*"

[dev-packages]
black = "*"
docformatter = "*"
isort = "*"
autoflake = "*"
mypy = "*"
flake8 = "*"
pytest = "*"
coverage = "*"

[requires]
python_version = "3.12"

[scripts]
dev = "flask run --debug --port 4000"
prod = "uwsgi --http 0.0.0.0:4000 --master -w app.wsgi:app"
"dev:css" = "pnpm run dev:css"
"build:css" = "pnpm run build:css"
format = "./scripts/format.sh"
lint = "./scripts/lint.sh"
test = "./scripts/test.sh"
