[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
openai = "*"
pydantic-settings = "*"
pymongo = {extras = ["srv"], version = "*"}
redis = {extras = ["hiredis"], version = "*"}
orjson = "*"
uwsgi = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
dev = "flask run --debug --port 4000"
prod = "uwsgi --http 0.0.0.0:4000 --master -w app.wsgi:app"
"dev:css" = ""
"build:css" = ""
format = ""
lint = ""
test = ""
